/* .modal-content { */
/* background: #fff; */
/* width: 90vw; Change to 90vw for a responsive width */
/* max-width: 500px; Set a maximum width for the content */
/* padding: 3rem; */
/* border-radius: 0.25rem; */
/* text-align: center; */
/* position: relative; */
/* margin: 0 auto; Add this line to horizontally center the content */
/* } */

.modal-content {
  background: #fff;
  width: 90vw;
  max-width: 620px;
  padding: 3rem;
  border-radius: 0.25rem;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  position: relative;
}
.close-btn {
  border-radius: 0.25rem;
  border-color: transparent;
  padding: 0.25rem 0.5rem;
  display: block;
  width: 35%;
  margin-top: 2rem;
  font-weight: 700;
  background: #ffb100;
  color: #222;
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 20px;
  margin: 2rem auto 0 auto;
}
.hello {
  font-size: 20px;
}
.okk {
  font-size: 3rem;
}
